extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hi! You have been logged in as #{username}.

  if (loginStatus == "true")
    form(action="/tweets", method='post', id="tweetform")
      h3 Compose your tweet!
      p(class="tweeterr")
      input(type="text", name='message', id='message')
      button(class="tweetButton", val=username, type='submit')
        | Tweet!  
  
  ul(class="tweetstream")
