extends layout

block content
  div(class="toparea")
    h1= title
    p Welcome!
    p Hi! You have been logged in as #{username}.

  if (loginStatus == "true")
    form(action="/tweets", method='post', id="tweetform")
      div(id="compose") Compose your tweet!
      textarea(type="text", name='message', id='message')
      button(class="tweetButton", val=username, type='submit') Tweet!  
  
  //- div(id="tweetstreamTitle") Check out what's been tweeting recently!
  ul(class="tweetstream")
