extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hi! You have been logged in as #{username}.

  if (loginStatus == "true")
    form(action="/tweets", method='post', id="tweetform")
      h3 Compose your tweet!
      input(type="text", name='message', id="message")
      button(class="tweetButton", type='submit')
        | Tweet!  
  
  ul

