doctype html
html
  head
    title title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery.js')
    script(src='/javascripts/tcAjax.js')
  body
    div(class="toparea")
      a(href="/") Home || 
      a(href="/users/new") Login || 
      a(href="/tweets/Panda") ohai Panda||  
    block content